@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    height:100%;
    margin:0;
}

.img1, .img2, .img3, .img4, .img5  {
   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.7;
}

.img1 {
    background-image: url("https://images.pexels.com/photos/1060803/pexels-photo-1060803.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    min-height: 700px;
}

.img2 {
    background-image: url("https://images.pexels.com/photos/1078983/pexels-photo-1078983.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    min-height: 400px;
}

.img3 {
    background-image: url("https://images.pexels.com/photos/4148668/pexels-photo-4148668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    min-height: 400px;
}

.img4 {
    background-image: url("https://images.pexels.com/photos/3509968/pexels-photo-3509968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    min-height: 400px;
}

.img5 {
    background-image: url("https://images.pexels.com/photos/3225165/pexels-photo-3225165.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    min-height: 400px;
}

.section1 {
    background-color: rgb(173, 142, 140);
    text-align: center;
    padding: 40px 60px;
        
}

.section2 {
    background-color: rgb(216, 164, 122);
    text-align: center;
    padding: 40px 60px;
        
}


.section3 {
    background-color: rgb(154, 184, 209);
    text-align: center;
    padding: 40px 60px;
        
}

.section4 {
    background-color: rgb(207, 160, 209);
    text-align: center;
    padding: 20px;
        
}

.borde {
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
    background-color:#111;
    color:#fff;
    padding:20px 0px;
}
